body {
    color: #00ff00;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #998b7d;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.sitetop {
    display: flex;
    background-color: #453f39;
    color: #ded7d1;
    flex-direction: column;
}

.topbar {
    display: flex;
    flex-direction: row;
    background-color: #453f39;
    color: #ded7d1;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.toplinks {
    display: flex;
}

.signupbox {
    display: flex;
    flex-direction: row;
    margin: 50px;
    background-color: #453f39;
    color: #ded7d1;
}

.innerbox {
    display: flex;
    flex-direction: column;
}

.contentblock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.bigtext {
    font-size: 20px;
    font-weight: 700;
}

.blocks {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.textbox {
    order: 2;
}